<form id="deleteFormForSectionAndTable">
  <div class="modal fade" id="deleteForTableSAndSectionModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border:none;">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete Confirmation</h5>
          <button type="button" class="close" style="margin-left: auto;border: none;background: none;"
            data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <input id="deleteId" type="hidden">
        <input id="sectionId" type="hidden">
        <div class="modal-body d-flex flex-column align-items-center justify-content-center pb-0">
          <img src="~/images/icons8-alert-48.png" style="width:70px" class="mb-1" alt="">
          <label for="" id="deleteText"></label>
        </div>
        <div class="modal-footer d-flex align-items-center justify-content-center" style="border: none;">
          <button type="submit" class="btn btn-primary" id="deleteSection">Yes</button>
          <button type="button" class="btn btn-primary" id="deleteSingleTable" style="display: none;" data-bs-dismiss="modal" onclick="deletesingletable()">Yes</button>
          <button type="button" class="btn btn-primary" id="deleteMultipletable" style="display: none;" data-bs-dismiss="modal" onclick="deleteMultipleTables()">Yes</button>
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</form>