@model TableAndSectionViewModel
<div class="d-flex">
<h3 class="p-3 c-text">Tables</h3>
<div class="d-flex justify-content-end w-100 m-3 ">

    <div class="me-3">
         <input type="email" class="form-control h-100 " id="searchedTable" placeholder="Search"> 
         <input type="hidden" class="form-control h-100 " id="HiddenSectionId" asp-for="sectionId"> 
    </div>
    <button class="btn btn-outline-secondary me-2"><img src="~/images/trash-fill.svg" style="cursor: pointer;"
             alt=""></button>

    <button class="btn btn-primary me-3 add-item-modifier" data-bs-toggle="modal" data-bs-target="#addTableModal"  type="button">+ New Table</button>
<input type="text" hidden>
</div>
</div>
<div class="tbl m-3 table-responsive">
    <table class="table">
    </table>
    <div class="bg-white w-100 d-flex justify-content-end align-items-center pe-2">
        <div class="d-flex justify-content-center align-items-center">
            <label for="" class="me-2">items per page:</label>
            <div class="dropdown mt-2 me-2">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                    <option value="3">6</option>
                </select>
            </div>
        </div>
        <label for="" class="me-2">Showing 1-5 of 13</label>
        <div class="d-flex mt-1">
            <button type="button" class="btn btn-outline-dark btn2" style="
                                           padding: 6px;
                                       "><img src="" alt=""><img src="~/images/left-chevron-svgrepo-com.svg"
                    style="width:25px" alt=""></button>
            <button type="button" class="btn btn-outline-dark btn2 mb-2" style="
                                           padding: 5.8px;
                                       "><img src="~/images/left-chevron-svgrepo-com.svg"
                    style="width:25px;rotate: 180deg;" alt=""></button>
        </div>
    </div>
    <!-- Add Table Modal -->

    <form action="addNewTableForm">
<div class="modal fade" id="addTableModal" tabindex="-1" style="--bs-modal-width: 367px;" aria-labelledby="addTableModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="border: none;">
        <h5 class="modal-title" id="addTableModalLabel">Add Table</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row">
          <div class="mb-3 col-md-6">
            <input type="text" class="form-control"  style="padding: 6%;" id="tableName" placeholder="Name*">
          </div>
          <div class="mb-3 col-md-6">
            <label for="" class="form-label" style="position: absolute;left: 55%;top: 13%;font-size: 70%;">section*</label>
            <select class="form-select" style="padding: 6%;" id="tableSection">
           @foreach(var sec in @Model.sections){
                <option value="@sec.Sectionid">@sec.Sectionname</option>
           }
            </select>
          </div>
          </div>
          <div class="row">
            <label for="" class="form-label" style="position: absolute;left: 4%;top: 52%;font-size: 70%;">capacity*</label>
            <div class="col-md-6 mb-3">
              <input type="number" class="form-control" style="padding: 6%;" id="tableCapacity" placeholder="capacity" value="0" min="0">
            </div>
            <div class="col-md-6 mb-3">
            <label for="" class="form-label" style="position: absolute;left: 55%;top: 52%;font-size: 70%;">Status*</label>
              <select class="form-select" style="padding: 6%;" placeholder="status" id="tableStatus">
                <option>Available</option>
                <option>Occupied</option>
              </select>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
</form>

<!-- Button to trigger modal -->


    <script>
        $("document").ready(function(){
            console.log("loaded");
            loadTableData(1);
        })

      $("#addNewTableForm").on("submit",function(){
        
      })


    </script>
</div>

