@model TableAndSectionViewModel
@{
    ViewData["Title"] = "TableAndSectionContainer";
     Layout = "~/Views/Shared/_Sidebar&navbar.cshtml";
}
<link rel="stylesheet" href="~/css/tableAndSection.css">
<div class="container-fluid w-100 h-100 p-0">
    <div class="container-fluid w-100 h-100 p-0">
    <div id="nav-sidebar"></div>
    <div class="row p-0 h-100 d-flex">
        <div class="content pt-3 w-100 h-100">
            <div class="header d-flex align-items-center justify-content-start mb-4 d-flex">
                <h1>Sections/Tables</h1>
            </div>
            <div class="form-container shadow">
               
                <div class="d-flex w-100 h-100" id="menu-container">
                    <div class="sectionsidebar h-100 "></div>
                    <div class="tablebody bg-white h-100"></div>
                    <div id="deletemodel">
                    </div>
                    <div id="AddTableModelDiv">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("document").ready(function(){
            loadSections();
            loadTablePage(1);
        })
        function loadSections(){
            $.ajax({
                url:'@Url.Action("SectionData","TableAndSection")',
                type: "GET",
                cache:false,
                success: function(data){
                    $(".sectionsidebar").html(data);
                }
            })
        }
        function loadTableData(sectionId){
            $.ajax({
                url:'@Url.Action("LoadTableDataForSection","TableAndSection")',
                type:"GET",
                cache:false,
                data:{sectionId: sectionId},
                success:function(data){
                    $("table").html(data);
                    $("#sectionIdFortables").val(sectionId)
                }
            })
        }
        function loadTablePage(sectionId){
            $.ajax({
                url:'@Url.Action("loadTablePage","TableAndSection")',
                type:"GET",
                cache:false,
                data:{sectionId : sectionId},
                success:function(data){
                    $(".tablebody").html(data);
                }
            });
        };

        
    </script>