@model TaxesViewModel
@{
    ViewData["Title"] = "TableAndSectionContainer";
    Layout = "~/Views/Shared/_Sidebar&navbar.cshtml";
}
<link rel="stylesheet" href="~/css/TaxesandFees.css">
<div class="container-fluid w-100 h-100 p-0">
    <div class="container-fluid w-100 h-100 p-0">
        <div id="nav-sidebar"></div>
        <div class="row p-0 h-100 d-flex">
            <div class="content pt-3 w-100 h-100">
                <div class="header d-flex align-items-center justify-content-start mb-4 d-flex">
                    <h1>Taxes/Fees</h1>
                    <div class="me-3 d-flex justify-content-center align-items-center" style="margin-left: auto;">
                        <input type="email" class="form-control h-100 " style="margin-right: 2%;width: 100%;" id="taxSearch" onkeyup="searchtax()" placeholder="Search">
                        <button class="btn btn-primary me-3 add-item-modifier" type="button" style="width:48%;" onclick="openModelForAddTax()">+ New Tax</button>
                    </div>
                </div>
                <div class="form-container shadow taxTableContainer" id="t-container"></div>
            </div>
            <div class="loadTaxModal"></div>
        </div>
        <script>
            $("document").ready(function () {
                loadTaxes();
            });

            function loadTaxes() {
                $.ajax({
                    url: '@Url.Action("Loadtaxes", "Taxes")',
                    type: 'GET',
                    success: function (data) {
                        $(".taxTableContainer").html(data);
                    }
                });
            }

            function searchtax(){
                var search = document.getElementById("taxSearch").value;
                console.log("searching")
                if(search == ""){
                     loadTaxes();
                }
                else{
                $.ajax({
                    url:'@Url.Action("searchTax","Taxes")',
                    type: 'GET',
                    data: {search:search},
                    success: function (data) {
                        $(".taxTableContainer").html(data);
                    }
                });
                }
            }
            function openModelForAddTax(){
                $.ajax({
                    url:'@Url.Action("addEditTaxModalGet","Taxes")',
                    type: 'GET',
                    success: function (data) {
                        $(".loadTaxModal").html(data);
                        $("#addEditTaxModal").modal('show');
                        $("#isUpdated").val('false') 
                    }
                });
            }
            function openModelForEditTax(TaxId){
                $.ajax({
                    url:'@Url.Action("EditModalGet","Taxes")',
                    type: 'GET',
                    data:{taxid :TaxId},
                    success: function (data) {
                        console.log("edit clicked");
                        $(".loadTaxModal").html(data);
                        $("#addEditTaxModal").modal('show');
                        document.getElementById("deleteText").innerHTML = "Edit Tax";
                        $("#isUpdated").val('true') 
                        console.log(data);
                        @* $("#editTaxButtton").css() *@
                    }
                });
            }

          
        </script>
