@model MenuModel
<div class="d-flex justify-content-between p-2 mb-3">
    <label class=" c-text">Category</label>
    <button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5"> +
    </button>
</div>
<div class="scrollbar w-100">

    <div class="scrollbox w-100 h-100">
        <ul class=" mt-2 w-100 h-100 ">
            @foreach (var category in Model.menuList)
            {
                <li class="w-100" onclick="loadItemData(@category.categoryId)">

                    <label for="" class="ms-0" style="font-size: 13px;">≣ @category.categoryName</label>
                    <div class="d-flex" style="margin-left:auto;">
                        <img src="~/images/edit.png" class="pe-2" onclick="op(@category.categoryId,@category.categoryName,@category.description)" style="width:25px;cursor:pointer;" alt="">
                        <img src="~/images/trash-fill.svg" style="width:15px;" alt="">
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<form method="Post" asp-controller="Dashboard" asp-action="editCategory">
    <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: none;">
                    <h5 class="modal-title" id="exampleModalLabel">edit Category </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-0">
                    <div class="mb-3">
                        @* <label for="recipient-name" class="col-form-label">Recipient:</label> *@
                        <input type="text" class="form-control" placeholder="Name" asp-for="m.categoryName" 
                            style="height:10%;" id="recipient-name">
                        <input type="text" asp-for="m.categoryId" id="hiddnField" hidden>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" placeholder="Description" style="height:100%;"
                            asp-for="m.description" id="message-text">gdhjdg</textarea>
                    </div>
                </div>
                <div class="modal-footer pt-0" style="border-top: none;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">+Add</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>


function op(categoryName,categoryId,description){
    $('textarea').val = description;
    $('#recipient-name').val = categoryName;
    $('#hiddenField').val = categoryId;
   }

    @* function editCategory(categoryId) {
        $.ajax({
            url: '@Url.Action("editCategory", "Dashboard")',
            type: "GET",
            data: { categoryId: categoryId },
            cache: false,
            success: function (data) {
                $(".menubody").html(data);
                console.log(categoryId);
            }
        });
    }; *@
</script>
