@model chang_p_model
@{
    Layout = "~/Views/Shared/_Sidebar&navbar.cshtml";
}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="~/css/dashresetpass.css">

<body>
    <div class="container-fluid w-100 h-100 p-0">
        <div class="row p-0 h-100 d-flex">
            <div class="content pt-3 ">
                <div class="mb-4">
                    <h1>Change Password</h1>
                </div>
                <div class="w-100 h-25 ">
                        <label class="mb-0 p-0">Enter a new password to update your account credentials</label>
                    <div class="row d-flex flex-column mt-2 p-1" style="width: 60%;">
                        <form id="changepassform" asp-controller="Dashboard" asp-action="ResetPassword" method="post">
                             <div class="input-group mb-1 d-flex flex-column">
                                 <small for="inputPassword5" class="form-label mb-1">Current Password</small>
                                
                                 <input id="inputPassword5" class="form-control in" asp-for="oldpass" style="width:100%" >
                            </div>
                            <div class="input-group mb-1 d-flex flex-column w-100">
                                 <small for="inputPassword5" class="form-label mb-1">New Password</small>
                                 <input type="password" id="inputPassword5" class="form-control" asp-for="newpass" style="width:100%" aria-describedby="passwordHelpBlock">
                                <div class="form-text" style="font-size: 10px;">
                                    Your password must be 8-20 characters long, contain letters and numbers, and must
                                    not contain spaces, special characters, or emoji.
                                </div>
                            </div>
                            <div class="input-group mb-1 d-flex flex-column">
                                <small for="inputPassword5" class="form-label mb-1">Confirm New Password</small>
                                <input type="password" id="inputPassword5" class="form-control in" style="width:100%" asp-for="confirmpass" aria-describedby="passwordHelpBlock">
                                <div class="form-text" style="font-size: 10px;">
                                    Your password must be 8-20 characters long, contain letters and numbers, and must
                                    not contain spaces, special characters, or emoji.
                                </div>
                            </div>
                            <div class="d-flex">
                                <!-- <button type="button" class="btn btn-primary me-2">submit</button> -->
                                <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
                                    data-bs-target="#exampleModalCenter11">
                                    submit
                                </button>
                                <button  class="btn btn-outline-primary">cancel</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="exampleModalCenter11" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                        <img src="~/images/icons8-alert-48.png" style="width:70px" class="mb-1" alt="">
                        <h5 class="mb-2">Are you sure you want to Change  password?</h5>
                        <div>
                            <button type="button" onclick="submit()" class="btn btn-primary" data-bs-dismiss="modal" type="button">yes</button>
                            <button type="button" class="btn btn-outline-primary">No</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        function submit() {
            document.querySelector("#changepassform").submit();
        }

    </script>
</body>

</html>
