body{
    /* overflow-y: hidden; */
}

    nav a {
        margin-left: auto;
        background-image: url('~/images/Default_pfp.svg.png');
        background-size: contain;
        background-position: center;
        text-decoration: none;
        height: 2rem;
        width: 2rem;
        max-height: 50px;
        margin-right: 2%;
        border-color: transparent;
    }

   .active{
    color : #0066A7;
    border-bottom: 2px solid;
   }
   .active2{
    color: #0066A7;
    background-color: #e0edf6;
   }

   td{
    /* display: flex;
    align-items: right;
    flex-direction: row; */
   }

    nav {
        background-color: #0066A7;
    }

    .sectionList {
        text-decoration: none;
        list-style: none;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        height: 100%;
    }
    table{
        overflow-x: scroll;
    }

 

    .sidebar {
        width: 15%;
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        display: block;
    }

    .sidebar-img {
        width: 35%;
        padding-right: 0px;
    }

    .sidebar h4 {
        font-size: 1.2rem;
        font-weight: bold;
        color: #0066A7;
    }

    /* .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 0;
    } */


  
    .add-item-modifier{
        background-color: #0066A7;
    }

    .header-text{
        color: #0066A7;
    }


    .content {
        width: 100%;
        background-color: #E9EAEB;
        padding-left: 27%;
        padding-right: 15%;
        overflow: hidden;
    }

    .bg-img {
        width: 100%;
        height: 13%;
        background-image: url('~/images/profile_div_bg.jpg');
        background-size: 100%;
    }

    #search-icon{
        margin-top: 2%;
        width: 5%;
        position: absolute;
        top: 166%;
        left: 92%;  
    }


    

    h1 {
        color: #0066A7;
        font-weight: bold;
    }

    .form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
        height: calc(2.5rem + calc(var(--bs-border-width)* 2));
        min-height: calc(1.5rem + calc(var(--bs-border-width)* 2));
        line-height: 1.25;
    }
    
    .header{
        width: 103%;
    }
    /* #search-icon{
        margin-top: 2%;
        width: 5%;
        position: absolute;
        top: 166%;
        left: 92%;  
    } */

    
   