html,
    body {
        height: 100%;
        width: 100%;
        /* overflow-x: hidden; */
        overflow-y: hidden;
    }

    ul {
        text-decoration: none;
        list-style: none;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        height: 100%;
    }
    table{
        overflow-x: scroll;
    }

    .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 0;
    }

    li a {
        text-decoration: none;
        color: #6C757D;
        font-weight: bold;
    }

    li img {
        width: 10%;
    }

    li {
        font-size: 90%;
        padding-left: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        align-items: center; 
         justify-content : left;
    }

    .content {
        width: 100%;
        background-color: #E9EAEB;
        padding-left: 19%;
        overflow: hidden;
    }

 

    li:hover {
        background-color: #E9EAEB;
    }

    li:hover a {
        color: #0066A7;
    }

    h1 {
        color: #0066A7;
        font-weight: bold;
    }

    .tg-btn {
        background-image: url('sidebar icons/icons8-menu-squared-50.png');
        border: 0;
        width: 40px;
        height: 40px;
        background-color: unset;
        background-size: 40px;
    }
 
    .form-container {
        width: 97%;
        background-color: #E9EAEB;
        overflow: hidden;
    }

    .profile-icon {
        width: 100%;
    }

    

    .row input {
        height: 10px;
    }

 

   

    
    h2{
        position: absolute;
    top: 14%;
    left: 15%;
    }
    .floatingselect{
        z-index: 1;
    }
    .close-btn{
        background-image: url('images/icons/close.png');
        border: 0;
        width:  20px;
        height: 20px;
        background-color: unset;
        background-size: 21px;
        margin-left: auto;
    }
    .search-add input{
        width: 62%;
        height: 80%;
        gap: 5%;
    }
    .search-add{
        margin-left: auto;
        width: 37%;
        position: relative;
        display: flex;
        justify-content: end;
        gap: 3%;
    }

    .search-add img{
        position: absolute;
        width: 4%;
    }
    .search-add button{
       height: 80%;
    }
    .header{
        width: 97%;
    }
    .btn1{
       height: 100%;
       width: 110%;
    }
    .btn2{
       height: 16%;
    }


    @media (max-width: 992px) {
        li {
            font-size: 70%;
        }
        h2{
            font-size: 1.5rem;
        }
        .sidebar{
            display: none;
        }
        

    }
    @media (max-width: 767px) {
       
        .content{
            padding-left: 7%;
        }
        .pfp{
            width: 15%;
        }
        h2{
            left:20%;
            font-size: 1.3rem;
        }
        form{
            padding-top: 12%;
        }
        .sidebar h4{
            font-size: 0.7rem;
        }

       

    }
    
    @media (max-width: 678px) {
       
        li a {
    text-decoration: none;
    color: #6C757D;
    font-weight: bold;
    /* visibility: hidden; */
    display: none;
}
li {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* padding-bottom: 25%; */
}
 li img{
    width: 25%;
 }      
 
.sidebar h4{
    display: none;
}
.sidebar-img{
    width: 96%;
    padding-left: 32%;
}
@media (max-width:700px){
    .btn1 span{
        display: none;
    }
    .btn1{
        font-size: 10px;
    }
    .search-add{
        width: 70%;
    }
}
}