@* <form asp-action="DeleteItem" asp-controller="Menu" method="post"> *@
<div class="modal fade" id="exampleModalCenter8" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                <img src="~/images/icons8-alert-48.png" style="width:70px" class="mb-1" alt="">
                <h5 class="mb-3">Are you sure you want to delete this item???????</h5>
                <input type="text" name="ItemId" hidden id="itemid_hidden">
                <div>
                    <button type="button" onclick="deleteItemPost()" class="btn btn-primary"
                        data-bs-dismiss="modal">Yes</button>
                    
                    <button type="button" class="btn btn-outline-primary">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
